.list-view {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list-card {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  border-radius: 10px;
  transition: background-color 0.3s, border-radius 0.3s;
  cursor: pointer;
}

.list-card:hover {
  background-color: #f0f0f0;
}

.list-preview img {
  max-width: 100px;
  height: auto;
}

.list-details {
  flex-grow: 1;
  padding: 0 10px;
}

.list-details h3 {
  font-size: 18px;
  margin: 0;
}

.date {
  margin-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
}

.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.left-info {
  flex-grow: 1;
}

.right-info {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.list-details p {
  margin: 0;
  color: #888;
}

.user-info img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}

.grid-view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.grid-card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: none;
  border-radius: 0px;
  transition: background-color 0.3s, border-radius 0.3s;
  cursor: pointer;
}

.grid-card:hover {
  background-color: #f0f0f0;
}

.grid-preview img {
  max-width: 100%;
  height: auto;
}

.grid-details {
  padding: 10px 0;
}

.grid-details h3 {
  font-size: 18px;
  margin: 0;
}

.grid-details p {
  margin: 0;
  color: #888;
}

.grid-details h3 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
}
.list-details h3 {
  max-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 768px) {
  .list-details h3 {
    max-width: 100px;
  }
}

@media (min-width: 1500px) {
  .list-details h3 {
    max-width: 1000px;
  }
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin-right: 5px;
}
.toggle-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 10px;
  margin-right: 10px;
}

.toggle-icon {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  border-radius: 50%;
  transition: background-color 0.3s, transform 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}

.toggle-icon img {
  width: 100%;
  height: 100%;
}

.toggle-icon.active {
  background-color: #ccc;
  transform: scale(1.1);
}
